.explore-heading1{
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
}

.explore-heading1:hover{
    letter-spacing: 1.2px;
    color: white;
    transition: 1s;
}

.explore-heading2{
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
}

.explore-text{
    font-size: 1.4rem;
    padding: 20px;
    background-color: white;
    margin: 40px;
    border-radius: 40px;
    margin-bottom: 5rem;
}

.explore-img-box{
    list-style: none;
    text-align: center;
}

.explore-img{
    display: inline-block;
    max-width: 28%;
    margin-bottom: 5rem;
}

.country-img{
    width: 60%;
    height: auto;
    border-radius: 50%;
    border: 4px solid #fff;
    transition: all 0.2s ease-in;
}
















/*--------------------------------------------------------------         Media Queries          ---------------------------------------*/
@media (max-width: 600px){
   .explore-img{
        max-width: 100%;
    }

    @media (max-width: 400px){
        .explore-heading1{
            font-size: 1.3rem;
        }

        .explore-text{
            font-size: 1rem;
        }
